doctype
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title #{title} #{version}
		link(rel="stylesheet" href=(environment == 'production' ? '/dash/main.css' : '/main.css'))
	body
		.container-fluid
			.row
				.col-xs-12
					!= yield
		script(src=(environment == 'production' ? '/dash/js/sortable.min.js' : '/js/sortable.min.js'))
		script(src=(environment == 'production' ? '/dash/js/global.js' : '/js/global.js'))
