@import 'sass/bootstrap.scss'
@import 'sass/font_awesome.scss'
@import 'sass/climacons.scss'
@import 'sass/mixins_variables.sass'

html
	position: relative
	min-height: 100%

body
	background-color: $light-color
	font-family: $sans-font-family
	color: $dark-color
	margin-top: 1.5rem
	transition: all 0.25s
	&.dark
		background-color: black
		color: $light-color
		.panel, .btn, .thumbnail, .list-group-item
			background-color: $dark-color
			color: $light-color
			a, small, .text-muted
				color: inherit

.vcenter
	display: flex
	align-items: center

.panels
	column-count: 4

.panel
	break-inside: avoid
	.panel-heading
		cursor: pointer
		user-select: none
	.panel-body
		transition: all 0.4s ease-out
	&.closed
		.panel-heading
			opacity: 0.5
		.panel-body
			opacity: 0
			padding: 0
			max-height: 0
			overflow: hidden

#time
	margin-top: 0

#current
	h3
		margin-top: 0

#condition
	line-height: 1
	.climacon
		font-size: 128px

#forecast
	.day
		width: 20%
		display: inline-block
		text-align: center
		font-size: 24px
		line-height: 1
		.climacon
			font-size: 48px
		small
			font-size: 12px
			line-height: 1


#lights .panel-body
	display: flex
	justify-content: space-between
	.light-switch
		&.on
			background-color: #fcf8e3
			color: #8a6d3b
		&:focus
			outline: none


#headlines .panel-body
	height: 25rem
	overflow: scroll


.list-group-item
	padding: 5px
	small
		font-size: 80%
		font-style: italic

@include media-query($large-width)
	.panels
		column-count: 3

@include media-query($medium-width)
	.panels
		column-count: 2

@include media-query($small-width)
	.panels
		column-count: 1
