.panel.panel-info#lastfm
	.panel-heading
		h3.panel-title
			i(class='fa fa-music' aria-hidden='true')
			span#title Music
	.panel-body
		#image
		#music Loading&hellip;

script(src=(environment == 'production' ? '/dash/js/lastfm.js' : '/js/lastfm.js'))
