.panel.panel-info#lastfm
	.panel-heading
		h3.panel-title
			i(class='fa fa-music' aria-hidden='true')
			span#title Music
	.panel-body
		#image
		#music Loading&hellip;

if environment == "production"
	script(src="/dash/js/lastfm.js")
else
	script(src="/js/lastfm.js")
