.panel.panel-info#lastfm
	.panel-heading
		h3.panel-title
			i(class='fa fa-music' aria-hidden='true')
			span#title Music
	.panel-body
		#image
			img(src="/img/no-cover.png" alt="No Image" class="thumbnail" style="width:100%")
		#music Loading&hellip;

script(src=(environment == 'production' ? '/dash/js/lastfm.js' : '/js/lastfm.js'))
