.panel.panel-warning#lights
	.panel-heading
		h3.panel-title
			i(class='fa fa-lightbulb-o' aria-hidden='true')
			|  Philips Hue Lights
	.panel-body
		button#bedroom.btn.btn-default.light-switch
			i(class='fa fa-toggle-off fa-2x' aria-hidden='true')
			br
			|  Bedroom
		button#seahorse.btn.btn-default.light-switch
			i(class='fa fa-toggle-off fa-2x' aria-hidden='true')
			br
			|  Seahorse
		button#bothlights.btn.btn-default.light-switch
			i(class='fa fa-toggle-off fa-2x' aria-hidden='true')
			br
			|  Both

script(src=(environment == 'production' ? '/dash/js/lights.js' : '/js/lights.js'))
