.panel.panel-default.closed#settings
	.panel-heading
		h3.panel-title
			i(class='fa fa-cogs' aria-hidden='true')
			|  Settings
	.panel-body.text-center
		button#lightDark.btn.btn-default.light-switch
			i(class='fa fa-sun-o fa-2x' aria-hidden='true')
			br
			span#lightDarkState Light
		button#tempUnit.btn.btn-default.temp-unit(style='margin-left:30px')
			i(class='fa fa-thermometer-full fa-2x' aria-hidden='true')
			br
			span#tempUnitState Fahrenheit


if environment == "production"
	script(src="/dash/js/settings.js")
else
	script(src="/js/settings.js")
