.panel.panel-primary
	.panel-heading
		h3.panel-title
			i(class='fa fa-dashboard' aria-hidden='true')
			|  #{title} 
			a(href="#{githubURL}" title="View on GitHub").pull-right #{version}
	.panel-body.text-center
		h1#time
		h4#date

script(src=(environment == 'production' ? '/dash/js/time.js' : '/js/time.js'))
