.panel.panel-default#transport
	.panel-heading
		h3.panel-title
			i(class='fa fa-bus' aria-hidden='true')
			|  Transportation
	.panel-body
		p.text-center.text-muted Move along, nothing to see here yet&hellip;

//- script(src=(environment == 'production' ? '/dash/js/buses.js' : '/js/buses.js'))
//- script(src=(environment == 'production' ? '/dash/js/uber.js' : '/js/uber.js'))
//- script(src=(environment == 'production' ? '/dash/js/lyft.js' : '/js/lyft.js'))
