.panel.panel-info#weather
	.panel-heading
		h3.panel-title
			i(class='fa fa-cloud' aria-hidden='true')
			|  Weather in 
			span#location
	.panel-body
		.row.vcenter
			.col-xs-6#current.text-capitalize
			.col-xs-6#condition.text-center
		hr
		#forecast.text-uppercase

script(src=(environment == 'production' ? '/dash/js/weather.js' : '/js/weather.js'))
